{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card card-body">
            <p>Are you sure to delete <b>{{order}}</b></p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'home' %}">Cancel</a>
                <input class="btn bnt-sm btn-danger" type="submit" value="Conform">
            </form>
        </div>
    </div>
</div>

{% endblock %}